<form class="form">

  <div class="form-body">


    <h4 class="form-section"> Plateforme</h4>
          <div class="form-group">
            <p>
              Cette plateforme a ete mise en place pour faciliter la gestion des codications des etudiants de l'ecole superieure polytchnique de Dakar. 
              Les deux grandes fonctionnalites de l'application sont :
            </p>

              <ul>
                <li>Reserver</li>
                <li>Codifier</li>
              </ul>
              
          
      </div>


    <h4 class="form-section"> Codifier</h4>
        <div class="form-group"> 
          <p> A ce niveau, vous pouvez choisir la chambre dans laquelle vous voulez codifier. En effet, seules les chambres ayant de positions libres 
            pouront etre choisies. Notons que les chambres auront au maximun 4 etudiants occupants les positions de 1 a 4.<br>
            Pour codifier dans une chambre, il faut renseigner :

          </p>
          <ul>
              <li>Le pavillon</li>
              <li>Le numero de l'etage</li>
              <li>Le numero de couloir</li>
              <li>Le numero de la chambre</li>
              <li>La position a occupee</li>
          </ul>
          <p>
            Vous pouvez aussi codifier directement lorsque vous avez deja reserver une chambre. Dans ce cas, seule une verification des parametres de 
            reservation est necessaire avant de valider la codification. A cette occasion, pous pouvez changer de position s'il y'a au moins une 
            position libre.
          </p>
            
          <p>
            Vous pouvez choisr parmis les chambres suggerees. La selection de ces chambres est base sur les aspects et les relations que 
            vous pouvez avoir evec vos colocataires. Ces criteres peuvent etre entre autre :
          </p>
          <ul>
              <li>Le sexe</li>
              <li>Le departement</li>
              <li>L'option</li>
              <li>Le niveau</li>
              <li>Le cycle</li>
              <li>L'annee d'etude</li>
              <li>l'age</li>
          </ul>
        </div>

    <h4 class="form-section"> Reserver</h4>
    <div class="form-group">
        <div> 
          <p>
            A ce niveau pous pouvez reserver une chambre en attendant les codifications. Pour reserver une chambre, il faur reseigner : 
          </p>
          <ul>
              <li>Le pavillon</li>
              <li>Le numero de l'etage</li>
              <li>Le numero de couloir</li>
              <li>Le numero de la chambre</li>
              <li>La position a occupee</li>
          </ul>
        </div>
    </div>


    <h4 class="form-section">Statistiques </h4>
    <div class="form-group">
        <div> 
          <p>
            A ce niveau, vous aurez toutes les informations concernant les pavillons. Pour chaque pavillon, vous pouvez savoir :
          </p>
            <ul>
              <li>Le nombre de chambre total</li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>

            </ul>
        </div>
    </div>

    <h4 class="form-section"> Parametres</h4>
    <div class="form-group">
        <div> 
          <p>
            A ce niveau, vous pouvez modifier toutes les informations vous concernant. Ces dernieres peuvent etre personnelles 
            commes academique (sur votre formation).
          </p>
          <ul>
            <li>Nom et Prenom</li>
            <li>Mot de passe</li>
            <li>Photo de profil</li>
            <li>Departement</li>
            <li>Option</li>
            <li>Cycle</li>
            <li>Annee d'etude</li>
          </ul>
        </div>
    </div>


  </div>
</form>



