<form class="form">
  <div class="form-body">
    <h4 class="form-section">
      <i class="icon-head"></i> Informations Personnelles </h4>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="projectinput1">Prenom</label>
          <input type="text" id="projectinput1" class="form-control" [(ngModel)]="etudiantConnected.prenom"  placeholder="First Name" name="fname">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="projectinput2">Nom</label>
          <input type="text" id="projectinput2" class="form-control" [(ngModel)]="etudiantConnected.nom"  placeholder="Last Name" name="lname">
        </div>
      </div>
    </div>

    <div class="form-actions right">
        <button type="submit" class="btn btn-primary"><a [routerLink]="['/home/modifier']">
          <i class="icon-ei-pencil"></i> Modifier </a>
        </button>
    </div>


    <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="projectinput3">Date de naissance</label>
            <input type="text" id="projectinput3" class="form-control" [(ngModel)]="etudiantConnected.dateNaissance"  placeholder="Date de naissance" name="date de naissance">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="projectinput4">Lieu de naissance</label>
            <input type="text" id="projectinput4" class="form-control" [(ngModel)]="etudiantConnected.lieuNaissance"  placeholder="Lieu de naissance" name="lieu de naissance">
          </div>
        </div>
      </div>

      <div class="form-actions right">
          <button type="submit" class="btn btn-primary">
            <a [routerLink]="['/home/modifier']">
            <i class="icon-ei-pencil"></i> Modifier </a>
          </button>
      </div>




    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="projectinput3">E-mail</label>
          <input type="text" id="projectinput3" class="form-control" [(ngModel)]="etudiantConnected.email"  placeholder="E-mail" name="email">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="projectinput4">Contact Number</label>
          <input type="text" id="projectinput4" class="form-control" [(ngModel)]="etudiantConnected.telephone"  placeholder="Phone" name="phone">
        </div>
      </div>

    </div>
    <div class="form-actions right">
        <button type="submit" class="btn btn-primary"><a [routerLink]="['/home/modifier']">
          <i class="icon-ei-pencil"></i> Modifier </a>
        </button>
    </div>



    <div class="form-body">
      <h4 class="form-section"><i class="icon-camera5"></i> Photo profil</h4>
      <div>
        <div class="col-md-6">
          <div class="form-group">
            <img _ngcontent-c1="" alt="online campus"  data-collapse="../../assets/app-assets/images/logo/pp.jpg" data-expand="../../assets/app-assets/images/logo/pp.jpg" src="../../assets/app-assets/images/logo/pp.jpg">
          </div>
        </div>
      </div>
    </div>
  </div>

</form>

<form class="form">
  <div class="form-body">
    <h4 class="form-section">
      <i class="icon-university2"></i>Informations sur la formation</h4>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="projectinput3">Departement</label>
          <input type="text" id="projectinput4" class="form-control" [(ngModel)]="etudiantConnected.departement.label"  placeholder="Phone" name="phone">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="projectinput4">Option</label>
          <input type="text" id="projectinput4" class="form-control" [(ngModel)]="etudiantConnected.option.label"  placeholder="Phone" name="phone">
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="projectinput3">Cycle</label>
          <input type="text" id="projectinput4" class="form-control" [(ngModel)]="etudiantConnected.cycle.label"  placeholder="Phone" name="phone">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="projectinput4">Annee d'etude</label>
          <input type="text" id="projectinput4" class="form-control" [(ngModel)]="etudiantConnected.niveau.label"  placeholder="Phone" name="phone">
        </div>
      </div>
    </div>


  </div>
</form>
